services:
  jenkins-blueocean:
    build:
      context: .
      dockerfile: Dockerfile
    image: customjenkins:latest
    container_name: jenkins-blueocean
    privileged: true
    environment:
      HOME: /var/jenkins_home
      JENKINS_OPTS: >-
        --argumentsRealm.passwd.jenkins=admin 
        --argumentsRealm.roles.jenkins=admin
      JAVA_OPTS: >-
        -Djenkins.install.runSetupWizard=false
        -Dhudson.model.UsageStatistics.disabled=true
    volumes:
      - jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ./jenkins.yml:/var/jenkins_home/jenkins.yml:ro
      - ./jobs:/var/jenkins_home/jobs/
    ports:
      - "8080:8080"
      - "50000:50000"
    restart: on-failure
    user: root

  grafana:
    image: grafana/grafana:12.1.1
    ports:
      - "3003:3000"
    volumes:
      - ./grafana.ini:/etc/grafana/grafana.ini
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
    depends_on: 
      - postgres

  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: jenkins_sentinel
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

volumes:
  jenkins-data:
  jenkins-docker-certs:
  postgres_data:
